html, nav p {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: white;
}

.tour-background {
  background-image: url("../images/background-tour.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.signup-background {
  background-image: url("../images/background-signup.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.pricing-background {
  background-image: url("../images/background-pricing.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.logo-text {
  text-decoration: none;
  color: white;
}

.logo-text:hover {
  color: #999;
}

p {
  font-family: "PT Serif", serif;
  font-weight: normal;
}

.bolder {
  font-weight: 900;
}

header {
  background-color: black;
}

.tour-header {
  background: none;
}

.banner {
  min-height: 20rem;
  background-color: black;
}

.btn {
  background-color: black;
  border-color: black;
}

.btn:hover {
  background: #666;
  border-color: #666;
}

.btn-thin {
  width: 5em;
  padding: .1em;
}

.btn-light {
  background-color: white;
  border-color: white;
}

.img-bot {
  height: 2rem;
}

.btn-banner {
  width: 7em;
}

.cards {
  background-color: black;
}

.home-card {
  background-color: white;
  border: solid 3px black;
}

.tour-card {
  background-color: rgba(255, 255, 255, .5);
}

.pricing-card {
  background-color: white;
  border: solid 3px black;
  max-width: 25rem;
  margin: 0 auto;
}

.pricing-card .media-body {
  min-width: 0;
}

.home-card h2, .tour-card h2, .pricing-card h2 {
  color: white;
  background-color: black;
}

.home-card p, .tour-card p, .pricing-card p, .pricing-card ul {
  color: black;
  font-family: "PT Serif", serif;
  font-weight: normal;
}

.pricing-card:hover {
  background-color: #ccc;
}

.pricing-card:hover .btn {
  background-color: #666;
  border-color: #666;
}

.unlimited-power {
  color: black;
  height: 7.5rem;
}

.table-header {
  background-color: black;
}

.table-wrapper {
  background-color: rgba(255, 255, 255, .3);
}

tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, .3);
}

thead th {
  font-weight: normal;
  color: black;
}

tbody {
  color: black;
}

tbody th {
  color: black;
  font-family: "PT Serif", serif;
  font-weight: normal;
}

.feature {
  width: 7em;
}

.no {
  color: rgb(154, 6, 6);
}

footer {
  background-color: black;
}

.i-brain {
  background-image: url("../images/logo-brain.svg");
}

.i-strike {
  background-image: url("../images/logo-strike.svg");
}

.i-facebook {
  background-image: url("../images/badge-facebook.svg");
}

.i-insta {
  background-image: url("../images/badge-insta.svg");
}

.i-twitter {
  background-image: url("../images/badge-twitter.svg");
}

.i-testimonial {
  background-image: url("../images/icon-testimonial.svg");
}

@media only screen and (min-width: 38em) {

  .logo-text {
    width: 50%;
  }

  .nav-list {
    width: 50%;
  }

  .footer-button {
    float: left;
    padding-top: 1rem;
  }

  .pricing-card {
    height: 30rem;
  }

  .pricing-card p, .pricing-card ul {
    height: 9rem;
  }

}
